@import "tailwindcss";


/* Define color variables */
:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* Apply base page styles */
body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

/* Smooth scroll globally */
html {
  scroll-behavior: smooth;
}
